@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  background-color: #F5F5F5;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: iranyekan;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #ffb317; /*Set to match the Tailwind colour you want the active one to be */
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}


#main.swiper-container {
  width: 480px;
}

#main .swiper-slide{
  width: 250px !important;
}

@media screen and (max-width: 480px) {
  #main.swiper-container {
    width: 400px;
  }
}

@media screen and (min-width: 640px) {
  #main.swiper-container {
    width: 580px;
  }
}

@media screen and (min-width: 768px) {
  #main.swiper-container {
    width: 840px;
  }
}

@media screen and (min-width: 1000px) {
  #main.swiper-container {
    min-width: 1200px;
  }
}



.headline:hover .headline-border{
  width: 100%;
  border-bottom: 2px solid black;
  animation: headline 2s ease-in forwards;
}

@keyframes headline{
  0%{
    width: 0;
  }25%{
    width: 25%;
  }50%{
    width: 50%;
  }75%{
    width: 75%;
  }
  100%{
    width: 100%;
  }
}